body {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #dddddd;
  border: 1px black solid;
}

textarea {
  padding: 10px;
  width: 95%;
  height: 400px;
  border: 1px black solid;
}

header {
  position: absolute;
  background-color: #222222;
  color: #eeeeee;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  text-align: left;
}

header a, header a:visited {
  color: #eeeeee;
  text-decoration: none;
}

.main {
  width: 100%;
  padding-top: 50px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button {
  padding: 10px;
  border-radius: 3px;
  border: 1px black solid;
  vertical-align: bottom;
  height: 32px;
}

div {
  width: 100%;
}

table {
  border: 1px black solid;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border: 1px black solid;
}

th {
  background-color: #222222;
  color: #f0f0f0;
}

a, a:visited {
  text-decoration: none;
  color: #336699;
}
